@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf')  format('truetype'), url('../fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Verdana-Bold';
  src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Verdana-Bold.woff') format('woff'), url('../fonts/Verdana-Bold.ttf')  format('truetype'), url('../fonts/Verdana-Bold.svg#Verdana-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),  url('../fonts/Verdana.woff') format('woff'), url('../fonts/Verdana.ttf')  format('truetype'), 
  url('../fonts/Verdana.svg#Verdana') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicLTStd-Bold';
  src: url('../fonts/TradeGothicLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/TradeGothicLTStd-Bold.otf')  format('opentype'),
	     url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'), url('../fonts/TradeGothicLTStd-Bold.ttf')  format('truetype'), url('../fonts/TradeGothicLTStd-Bold.svg#TradeGothicLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialNarrow';
  src: url('../fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialNarrow.woff') format('woff'), url('../fonts/ArialNarrow.ttf')  format('truetype'), url('../fonts/ArialNarrow.svg#ArialNarrow') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*  Globle css
---------------------------------------------------------------- */

* {
	-webkit-font-smoothing: antialiased;
}
body {
 	  font-family: 'Verdana'; font-size:18px; color:#000000;  
}
body,html {  overflow-x: hidden;}

img {
	max-width:100%;
	height:auto;
}
li {
	list-style:none;
}
a:focus {
	outline:none;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
a {
	color:#2cc1e3;
  transition:0.5s;
  -webkit-transition:0.5s;
  -ms-transition:0.5s;
}
p, h1, h2, h3, h4, ul {
	margin:0;
	padding:0;
}
h1, h2, h3, h4{  font-family: 'Verdana-Bold'; }

p {
	font-size:18px;
	color:#000000;
	
}

h1 {
    font-size:70px;
	color:#fff;
	font-family: 'chunkfiveroman';
	text-align:center; 
	text-shadow: 1px -1px 1px #000;
	
}
h2 {
	font-size:41px;
	color:#ffbb5c; 
	padding-bottom:30px;
	 margin-bottom:30px;
}
h3 {
	font-size:24px;
	color:#494949;
	margin-bottom:10px;
	
}
/* Section css */

section {clear:both;}

/* site button theme css */

.btn{ font-size:14px; color:#fff; text-shadow: 1px -1px 1px #000;border-radius:2px; background:#ffb64b; padding:13px;}
.btn-gray_bg { background:#b4b4b4;}
.btn:hover { color:#f7f7f7;}
.container { max-width:980px; position:relative; }



/* Page css strat here */
.logo { position:absolute; left:0; right:0; margin:auto;width:170px;transform: translateX(-28px); -webkit-transform: translateX(-28px);}
.header {  padding-top:0;overflow-x: hidden;}
.header { float:left; width:100%;}
.header .navbar { min-height:inherit; background:url(../images/banner.jpg) repeat;  background-size:cover;     background-position:65% 0;border:none;padding:20px 0;transition: 0.5s;-webkit-transition: 0.5s;}
.navbar.top-nav-collapse {padding:10px 0;}
.header .nav { margin:25px 0 12px; text-align:center; width:100%;}
.header .nav li { display:inline-block; padding:0 13px; float:none;}
.header .nav li:nth-child(4) { padding-left:28%;}
.header .nav li a { padding: 3px 7px; font-size:12px; color:#fff; text-transform:uppercase; display:block; border-bottom:solid 3px transparent;}
.header .nav li.active a,
.header .nav li:hover a,
.header .nav li a:focus { border-bottom:solid 3px #ff6600; background:none;}

.banner-sec { padding:108px 0 0; text-align:center; margin:auto;}
.banner-sec p { font-size:18px; line-height:24px; color:#fff;}
.btn_group { margin:15% 0 10%;}
.btn_group  .btn { margin-right:47px;}
.banner_sl .owl-nav { margin:0; display:none;}
.banner_sl .owl-controls { background:rgba(0, 98, 161, 0.31); padding:10px 0 10px;     position: absolute; bottom: 0;width: 100%;}
.banner_sl.owlCarousel .owl-dots .owl-dot span { margin:0 10px 0 0; background:none; border:solid 2px #fff;}
.banner_sl.owlCarousel .owl-dots .owl-dot.active span ,
.banner_sl.owlCarousel .owl-dots .owl-dot:hover span { background:#0669b2; border:solid 1px transparent; }

.offer_box h3{ color:#494949; font-size:24px; font-weight:bold; text-transform:uppercase; margin-bottom:10px;  }
.offer_box h4 { font-size:20px;  color:#494949; }
.offer_box p,
.offer_box li{  color:#494949; text-align:left;}
.offer_box {border-radius:0px 0px 50px 50px;     margin: auto;    position: relative;  background-color:#FFFFFF; max-width:360px;  box-shadow: 1px -1px 1px #000; text-align:center;  padding:32px 53px 90px;}
.what_we_offer{margin-top: -2px; background-color:#013861; color:#ffb64b; border-top:1px solid #000; background:rgba(0, 35, 72, 0.9); padding:22px 0; position:relative; }
.offer-items .offer_box {box-shadow: 1px 0px 1px #000;}
.what_we_offer:before,
.what_we_offer:after { content:""; position:absolute; background:#ffb64b; height:8px; width:100%; z-index:1;}
.what_we_offer:before{ top:1px;}
.what_we_offer:after{ bottom:-2px;border-top:1px solid #000;}
.what_we_offer h2 {
    font-size: 80px;
    line-height: 80px;
	padding:0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;  font-family: 'TradeGothicLTStd-Bold';text-shadow: 1px -1px 1px #000;
}
.top-offer-wap { padding:0 35px; }
.offer_box figure {
    position: absolute;
	left:0;
	right:0;
	margin:auto;
    display: inline-block;
}
.offer_box h3  { text-align:left;}
.logo_dsign{ min-height:290px;  padding:85px 80px; border-radius:50px 50px 0 0; 
 margin:80px auto 0; position:relative;z-index: 1;}
.logo_dsign  figure {  top: -60px;}
.offer-items figure { bottom:-60px;}
.offer-items { padding:0 36px;}
.offer_box .listing li { padding-left:30px; position:relative; margin-bottom:18px;}
.offer_box.custom_gpic .listing li { margin-bottom:8px;}
.offer_box .listing li a {color:#494949;}
.offer_box .listing li:before { content:""; position:absolute ; left:0; top:5px; border-width:6px 6px 6px 9px; border-style:solid; border-color:transparent; border-left-color:#ffb64b;}
.offer-items { margin:0 -28px;}
.offer-items [class*="col-"] { padding:0 28px;}
.what_wexpect { padding: 0 0 60px;}
.hd_icn { background:url(../images/hd_bg.png) no-repeat bottom center;}
.expect_item { margin-top:30px; background:#fff;  border-radius:0px 0px 20px 20px;text-align:center;overflow: hidden; }
.expect_item .hd_title { color:#fff; padding:4px 0; font-size:40px; text-transform:uppercase;	font-family: 'chunkfiveroman';}
.expect_item .body_cont { padding:24px 65px 65px; background:#fff;}
.expect_item .body_cont h4 { font-size:30px; margin-bottom:43px;}
.expect_item .body_cont p { font-size:24px; line-height:24px;}
.starter_bx .hd_title { background:#00a8ec;}
.reguler_bx .hd_title { background:#032f55;}
.enterprise_bx .hd_title { background:#ef9c00;}
.enterprise_El_bx .hd_title { background:#df0024;}

.starter_bx .body_cont h4  { color:#00a8ec;}
.reguler_bx .body_cont h4  { color:#032f55;}
.enterprise_bx .body_cont h4  { color:#ef9c00;}
.enterprise_El_bx .body_cont h4  { color:#df0024;}
.porfolio { padding:0px;}
.portfolio_gallery { padding:60px 0;}
.port_item li { float:left;width: 33.33%;padding: 0 10px 20px;}
.port_item li:nth-child(5) { margin-top:-108px;}
.port_item li img { width:100%;}
.gallery.owlCarousel .owl-dots .owl-dot span { margin:0 10px 0 0; background:none; border:solid 1px #818181;}
.gallery.owlCarousel .owl-dots .owl-dot.active span ,
.gallery.owlCarousel .owl-dots .owl-dot:hover span { background:#818181; }

.team { padding:0 0 60px;}
.tm_item img { max-width:none; width:auto; } 
.tm_item figcaption {min-height: 73px; position:absolute; bottom:0; left:6px; right:0px;  background:rgba(0,0,0,0.3); text-align:center; padding:10px;}
.tm_item figcaption h3 { font-size:23px; color:#fff; margin-bottom:5px;}
.tm_item figcaption small { font-size:16px; color:#fff; font-family: 'ArialNarrow';line-height: 14px; display:block;}
.tm_item:last-child  figcaption h3 { margin-bottom:0;}
.tm_item { padding:0 5px; position:relative; width:20%; float:left; overflow:hidden; height:619px;transition: 0.5s;}
.tm_item:hover { overflow:visible; z-index:99;    transform: scale(1.1); }
.tm_item:hover figcaption { width:184%; max-width:none;}

.process {padding-bottom:50px; }
.process-warp { padding:85px 65px 0px 80px; border-radius:30px; background:#fff;}
.process-item .process-date { width:113px; height:228px; background:url(../images/line.png) no-repeat center 54px; text-align:center; position:relative;}
.process-item .process-date:after { content:""; position:absolute; top:110px; width:177px; background:url(../images/hr_line.png) repeat-x center; height:3px;}
.process-item .process-date small,
.process-item .process-date span { font-size:18px; color:#8a9eb0;font-family: 'Verdana-Bold'; text-transform:uppercase; display:block;}
.process-item .process-date span { font-size:36px; line-height: 24px;}
.process-item .process-body {  text-align:center;max-width: 328px;}
.process-item .process-body figure { display:inline-block; margin-bottom:15px;}
.process-item .process-body p { line-height:18px; text-align:left; margin-bottom:20px;}
.process-item .process-body ul li { color:#fe7800; line-height:18px; text-align:left;    list-style-type: disc; padding-left:15px;margin-left: 20px;}
.process-warp [class*="col-"]:first-child .process-date { margin-top:55px;}
.process-warp [class*="col-"]:last-child .process-date { height:113px; }
.process-warp [class*="col-"] { margin-bottom:90px;}

.left-pro .process-date:after {    left: -108%;}
.strat_project ul li { padding:0 5px;}
.strat_project ul li a { background:#f6f6f6; padding:12px 35px; display:block; border:solid 2px #c7c7c7;}
.strat_project ul li a:hover {border:solid 2px transparent; outline:5px solid #ffb64b;}
.strat_project ul li img { float:left; margin-right:25px;}
.strat_project ul li h3 { padding:25px 0 10px; font-size:20px; text-transform:uppercase;}
.footer { padding:173px 0 98px; background:#4d4d4d; text-align:center;}
.footer .social-icn { margin:0 0 125px; }
.footer .social-icn li { display: inline-block; padding:0 23px;}
.footer .social-icn li i { font-size:35px; color:#fff;}
.footer  p { color:#fff;}
.services { padding:0 0 43px;}
.services-banner { background:url(../images/services.jpg) no-repeat; background-size:cover;}
.rates-banner {background:url(../images/rate.jpg) no-repeat; background-size:cover;}
.work-banner {background:url(../images/work.jpg) no-repeat; background-size:cover;}
.team-banner {background:url(../images/team.jpg) no-repeat; background-size:cover;}
.process-banner {background:url(../images/process.jpg) no-repeat; background-size:cover;}
.project-banner {background:url(../images/project.jpg) no-repeat; background-size:cover;}


.large-heading   { font-size:146px; color:#fff; text-transform:uppercase; text-shadow: 2px -2px 1px #000; text-align:center; padding:60px 0; margin:0;}
.services-item { width:20%; float:left; padding:0 2.5px 5px; text-align:center; }
.services-item .item-inner { background:#f2f9ff; padding:20px 0 10px;}
.services-item .item-inner figure { width:130px; height:130px; border-radius:100%; margin-bottom:10px; display:inline-block;}
.services-item .item-inner h3 { text-transform:uppercase; color:#000; font-size:18px; font-family: 'ArialNarrow'; margin:0;}
.services-item .item-inner h3 span { text-transform:lowercase;}
.team .container { padding:40px 0;}
.project-banner .large-heading { font-size:99px;}
.strat_project .container { margin:148px auto;}















/* Responsive CSS by Media Queries for Mini DesktopResponsive CSS by Media Queries for Mobile 1024 px and allFor Tablet devices – Landscape / Portrait Modes 
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 981px) {

	.process-warp [class*="col-"]:nth-child(2) { margin-top:25%;}
	.process-warp [class*="col-"]:nth-child(2) .process-date { margin-top:18%; }
	.process-warp [class*="col-"]:nth-child(2) .process-date:after { top: 93px;}
	.right-pro .process-date { margin-left: -70px; }
	.left-pro .process-date { margin-right: -73px;  }
	.process-item .process-date  { margin-top:50px;}
    
}

@media (max-width: 980px) {
	
	
body{font-size:16px}.logo{position:static;display:block; transform:none;width: 119px;}.header .nav li{padding:0 13px !important}.what_we_offer h2{font-size:67px;line-height:70px}.offer-items .offer_box{padding:32px 23px 80px}.expect_item .body_cont{padding:24px 36px 59px}.expect_item .hd_title{font-size:28px}.expect_item .body_cont h4{font-size:23px}.expect_item .body_cont p{font-size:18px;line-height:18px}.tm_item figcaption h3{font-size:16px}.tm_item figcaption small{font-size:11px;line-height:12px;display:block}.process-warp [class*="col-"]{margin-bottom:39px}.process-item .process-date:after{width:272%}.left-pro .process-date:after{left:-220%}.strat_project ul li h3{padding:25px 0 10px;font-size:15px}.strat_project ul li a{padding:12px}.strat_project ul li img{width:68px}
.process-item .process-date:after { top: 163px;}
.process-warp [class*="col-"]:nth-child(1) .process-date:after{ top:107px;}
.header .nav {margin: 2px 0 0;}
.large-heading { font-size:90px;}
.services-item .item-inner h3 { font-size:14px;}
.port_item li:nth-child(5) {
    margin-top: -80px;
}
	
}

/* Responsive CSS by Media Queries for Mobile 767px and Landscape and Portrait ModesMedia Queries for Mini Desktop 
----------------------------------------------------------------------------------------------------------------------------*/
@media(max-width:767px) {
.logo { float: left;transform: none;}.nav-sec{ clear:both;}
.navbar-toggle .icon-bar{display:block;width:33px;height:4px;border-radius:0;background:#fff}.navbar-toggle .icon-bar + .icon-bar{margin-top:4px}.header .nav li{display:block}h1{font-size:54px}.btn_group .btn{margin-right:2px}.logo_dsign{min-height:206px;padding:43px 38px 22px}.what_we_offer h2{font-size:45px;line-height:43px}h2{font-size:30px;padding-bottom:23px;margin-bottom:10px}.offer_box figure{width:80px}.offer-items .offer_box{margin:0 auto 60px;border-radius:0}.offer-items [class*="col-"]{padding:0 7px}.process-warp{padding:20px}.process-item .process-date{width:18%}.process-item .process-date span{font-size:22px;line-height:18px}.process-item .process-date small{font-size:18px}.process-item .process-body{max-width:82%}.tm_item figcaption h3{font-size:14px}.left-pro .process-date:after{left:-212px}.process-item .process-date:after{width:253%}.strat_project ul li{padding:0 5px;width:33%;float:left}.strat_project ul li img{width:55px}.strat_project ul li h3{padding:7px 0 10px;font-size:14px}.footer{padding:20px 0}.footer .social-icn{margin:0 0 38px}
.header .navbar { background:#000;}
.large-heading {
    font-size: 46px;
    padding: 20px 0;
}
.banner-sec { padding: 99px 0 0;}
.services-item { width:100%;}
.port_item li:nth-child(5) {
    margin-top: -33px;
}
.project-banner .large-heading {
    font-size: 40px;
}
.banner_sl .owl-controls { padding:0;}
.team,
.process,
.what_wexpect {
    padding: 0 0 0;
}
.strat_project .container { margin:20px 0;}
}

@media (max-width:480px){

.process-item .process-date:after{width:204%}.left-pro .process-date:after{left:-89px}.tm_item{width:50%}.strat_project ul li{width:100%;margin-bottom:10px}.logo{width:148px}  .banner-sec p{font-size:15px;line-height:19px}h1{font-size:43px}.banner-sec p,p{font-size:15px;line-height:19px}
.offer_box h3{font-size:20px}.what_we_offer h2{font-size:38px;   line-height:39px}h2{font-size:25px}
.tm_item:nth-child(2n):hover {
    transform: translateX(-100%);
}
}